body{
    margin:0;
    background: #fafafa; 
}

.header {
    background: #E86421;
    padding: 15px;
    width: 100%;
    font-family: "Garamond", Bold;
    font-size: 36px;
    color: white;
    text-indent: 50px;
    box-sizing: border-box;
}

.sidebar {
 background: #FAAC58;
 width: 20%;
 float: right;
 font-family: "Garamond";
 font-size: 16px;
 color: white;
}

.logo {
    background: white;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar a:link {color: #E86421;
    font-family: "Garamond";
    font-size: 16px;
    text-decoration: none;
 }

.sidebar a:visited {color: #E86421;
    font-family: "Garamond";
    font-size: 16px;
    text-decoration: none;
 }

.sidebar a:hover {color: white;
}

.sidebar ol li {color: #E86421;
font-family: "Garamond";
font-size: 14px;
}

.introtext {
    background: #fafafa;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    font-family: "Garamond";
    font-size: 22px;
    box-sizing: border-box;
    }

.econfollowtext {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    font-family: "Garamond";
    font-size: 20px;
    color: #849120;
    }

.edufollowtext {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    font-family: "Garamond";
    font-size: 20px;
    color: #5A5284;
    }

.healthfollowtext {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    font-family: "Garamond";
    font-size: 20px;
    color: #005293;
    }

.famfollowtext {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    font-family: "Garamond";
    font-size: 20px;
    color: #E9AF1D;
    }

.mainchart {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    overflow: hidden;
    width: 80%;
    box-sizing: border-box;
    }

.statemap {
    background: #fafafa;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    overflow: hidden;
    width: 80%;
    box-sizing: border-box;
    }

.stateranks {
    font-family: " Adobe Pro Garamond";
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    box-sizing: border-box;
}

.standardp {
    font-family: "Adobe Pro Garamond";
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    box-sizing: border-box;
}


.stateranks p1{text-indent: 10px;}
.stateranks p2{color: #5A5284;
text-indent: 10px;}
.stateranks p3{color: #005293;
text-indent: 10px}
.stateranks p4{color: #E9AF1D;
text-indent: 10px}

.stateranks ul li {list-style-type: none}

.highcharts-container svg text{
    font-family: "Garamond";
}
